* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

body{
          background-color: rgb(1, 8, 20);
}

header {
          display: flex;
          background-color: #233858;
          justify-content: space-between;
          height: 110px;
          align-items: center;
          padding: 20px;
          margin: 12px;
          border-radius: 12px;
}

.icone {
          width: 120px;
          height: 90px;
          border-radius: 20px;
}

/* .icone-redes-socias {
          width: 120px;
          height: 90px;
} */

.icone-cabecario{
          display: flex;
          align-items: center;
          color: #fff;
}

nav{
          color: azure;
}

.menu{
     background-color: rgb(13, 59, 59); 
     color: #fff;    
     border-radius: 10px;
     height: 40px;
     text-align: center;
     width: 120px;
     font-size: 18px;
}

.menu:active{
          background-color: blue;
}
.menu:hover{
          background-color: #A7D97F;
          color: #233858;;
}
.login{
      height: 25px;
      width: 150px;
      
 
}

input:hover{
    background-color: chocolate;
    color: #233858;;
}

input:active{
          background-color: cornflowerblue;
          color: #233858;;
}


footer{
   background-color: #233858;
   color: cornsilk;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 110px;
   margin: 12px;
   padding: 20px;
   border-radius: 12px;
}

.icone-redes-socias {
          width: 60px;
          height: 60px;
          border-radius: 30px;
}

/* .icone-facebook{
    width: 90px;
    height: 70px;
    border-radius: px;
} */

.icone-redes-socias:active{
          background-color: crimson;
          
}
.icone-redes-socias:hover{
          background-color:cyan;
          
}