* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*ESTRUTURA BÁSICA DE PÁGINA*/
body {
    display: grid;
    grid-template-rows: 110px 1fr 110px;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #233858;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    background-color: #233858;
    justify-content: space-between;
    height: 110px;
    align-items: center;
    padding: 20px;
    /* border-radius: 12px; */
    position: sticky;
    grid-column: 1/3;
    width: 100%;
}
footer{
    background-color: #233858;
    color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    margin: 12px;
    padding: 20px;
    border-radius: 12px;
    grid-column: 1/3;
}
/*ÍCONES*/
.icone-redes-socias {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.icone-redes-socias:active{
    background-color: crimson;
}
.icone-redes-socias:hover{
    background-color:cyan;  
}
.botao-responsivo {
    width: 30px;
    height: 630px;
    display: none;
}
.icone-vantagens {
    width: 55px;
    padding-bottom: 8px;
}
.icone-cabecario{
    display: flex;
    align-items: center;
    color: #fff;
}
.icone {
    width: 120px;
    height: 90px;
    border-radius: 20px;
}
.botao-safe {
    position: absolute; 
    top: 29.5rem; 
    left: 8rem; 
    padding: 0.5em;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
}
.menu{
    background-color: rgb(13, 59, 59); 
    color: #fff;    
    border-radius: 8px;
    height: 30px;
    text-align: center;
    width: 130px;
    font-size: 18px;

}
.menu:active{
    background-color: blue;
}
.menu:hover{
    background-color: #A7D97F;
    color: #233858;;
}


/*IMAGENS*/
.imagem-intro {
    object-fit: cover;
    width: 100%;
}
.chamada-na-imagem { 
    position: absolute; 
    top: 20rem; 
    left: 8rem; 
    color: #A7D97F;
    font-size: 40px;
}
.texto-na-imagem{
    position: absolute;
    top: 26rem;
    left: 8rem;
    font-size: 16px;
    color: white;
    line-height: 1.4em;
}

.link-botao-safe {
    text-decoration: none;
    color: black;
}
.botao-safe:hover{
    background-color: #A7D97F;
}
#botao-contrate-agora {
    background-color: #A7D97F;
    font-size: 22px;
    height: 3em;
    border-radius: 150px;
    font-weight: bold;
    text-align: center;
    text-decoration:none;
    color: white;
    display: grid;
    border: 1px solid white;
    display: grid;
    align-content: center;
    padding: 10px;
}

/*OUTRAS*/
.vantagens {
    height: 40vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #233858;
    padding-left: 3em;
    padding-right: 3em;
}
.chamada-vantagem {
    font-size: 26px;
    color: #A7D97F;
}
.seguro-seu-jeito {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 16px;
}

.titulo-vantagem {
    padding: 0.3em;
    color: #A7D97F;
}
.texto-vantagem{
    padding: 0.2em;
    font-size: 14px;
    color: white;
}
.secao-auto {
    max-height: 110vh;
    background-color: #233858;
    padding: 85px 50px;
    color: #A7D97F;
}
.h1-produtos {
    font-size: 55px;
}
.disposicao-produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.card1 {
    max-width: 25vw;
    color: #D2DAD8;
}
.h2-produtos {
    font-size: 40px;
}
.h4-produtos {
    font-size: 20px;
}
.card2 {
    max-width: 18vw;
    color: #D2DAD8;
}
.card3 {
    color: #D2DAD8;
    display: grid;
    justify-items: center;
}

#seguros-compactados {
    max-width: 85%;
}
.card4 {
    color: black;
    display: grid;
    justify-items: center;
}
.card5 {
    max-width: 18vw;
    color: black;
}
.card6 {
    color: black;
    max-width: 25vw;
}
.secao-vida {
    max-height: 110vh;
    background-color: rgb(240, 240, 240);
    padding: 63px 50px;
    color: #A7D97F;
}


.introducao {
    max-width: 100vw;
}

/*.login{
height: 25px;
width: 150px;
}
input:hover{
    background-color: chocolate;
    color: #233858;;
}

input:active{
          background-color: cornflowerblue;
          color: #233858;;
}
*/

/*ESTRUTURA DE RESPONSIVIDADE*/
 @media screen and (min-device-width: 300px) and (max-device-width: 520px) {
    header {
        display: flex;
        background-color: #233858;
        justify-content: space-between;
        height: 110px;
        align-items: center;
        padding: 20px;
        position: sticky;
        grid-column: 1/3;
        width: 100%;
    }
    .botao-responsivo {
        width: 60px;
        height: 60px;
        display: inline;
    }
    .menu {
        display: none;
    }
    header > div h1 {
        display: none;
    }
    .icone {
        max-height: 10vh;
    }
    .chamada-na-imagem { 
        position: absolute; 
        top: 20rem; 
        left: 8rem; 
        color: #A7D97F;
        font-size: 4px;
        display: none;
    }
    .texto-na-imagem{
        position: absolute;
        top: 26rem;
        left: 8rem;
        font-size: 20px;
        color: white;
        line-height: 1.4em;
        display: none;
    }
    
    .chamada-vantagem {
        font-size: 30px;
        position: absolute;
        top: 9rem;
        left: 4rem;
    }
    .botao-safe {
        position: relative; 
        top: 29.5rem; 
        left: 8rem; 
        padding: 0.5em;
        border: 1px solid black;
        background-color: white;
        border-radius: 3px;
        display: none;

    }
    .vantagens {
        height: 0vh;
        max-width: 100vw;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        background-color: #233858;

    }
    .seguro-seu-jeito {
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-left: 0px;
        padding-top: 45px;
    }
    .h1-produtos {
        font-size: 15px;
    }
    .h2-produtos {
        display: none;
    }
    .h4-produtos {
        display: none;
    }
    #botao-contrate-agora {
        display: none;
    }
    .disposicao-produtos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    
    .secao-auto {
        max-height: 30vh;
        background-color: #233858;
        padding: 85px 50px;
        position: relative; 
        top: 29.5rem; 
        display: none;
    }
    .secao-vida {
        display: none;
    } 
    footer{
    background-color: #233858;
    color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 20px;
    border-radius: 12px;
    grid-column: 1/3;
    }
    .icone-redes-socias {
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }
    body {
        display: grid;
        grid-template-rows: 110px 1fr 110px;
        height: 120vh;
        max-width: 100vw;
        background-color: #233858;
        font-family: Arial, Helvetica, sans-serif;
    }
    div > h2 > i {
        display: none;
    }
    footer > div > img {
        height: 10%;
    }

}



 




